.hero {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero .container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 0 0 0;
}

.hero .container h1 {
  color: #3d3d3d;
  font-size: 5rem;
  margin: 0 0 30px 0;
}

.hero .container h1 span {
  font-size: 5rem;
  position: unset;
  margin: 0 0 0 23px;
  color: #3d6798;
  background: linear-gradient(45deg, #3d6798, #983d3d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .container .label-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
}

.hero .container .label-block h2 {
  text-transform: uppercase;
  font-size: 3.125rem;
  color: #878787;
  margin: 0 10px 0 0;
}

.hero .container .label-block h2 {
  animation: typing 4s steps(120, end) infinite;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  animation-direction: alternate-reverse;
  letter-spacing: 0.3pt;
}

.hero .container .label-block .carrot {
  height: 50px;
  width: 25px;
  background-color: #878787;
  animation-name: blinking;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  border-radius: 3px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px 0;
  gap: 15px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  margin: 120px 0 50px 0;
}

footer span {
  color: #7d7d7d;
  margin: 3px 0;
}

.move-up {
  -webkit-animation: move-up 2s;
  animation: move-up 2s;
}

@keyframes move-up {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  30% {
    width: 0;
  }
  60% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.05;
  }
  40% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 950px) {
  .hero .container h1,
  .hero .container h1 span {
    font-size: 4rem;
  }
  .hero .container .label-block h2 {
    font-size: 2rem;
    margin: 0 5px 0 0;
  }
  .hero .container .label-block .carrot {
    height: 30px;
    width: 16px;
  }
}

@media screen and (max-width: 800px) {
  .hero .container h1,
  .hero .container h1 span {
    font-size: 3.4rem;
  }
  .hero .container .label-block h2 {
    font-size: 1.4rem;
    margin: 0 3px 0 0;
  }
  .hero .container .label-block .carrot {
    height: 20px;
    width: 11px;
  }
}

@media screen and (max-width: 650px) {
  .hero .container h1,
  .hero .container h1 span {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 450px) {
  .hero .container {
    padding: 0 25px;
    margin: 150px 0 0 0;
  }
  .hero .container h1 {
    display: grid;
    text-align: center;
  }
  .hero .container h1 span {
    margin: 0;
  }
  .row {
    flex-direction: column;
  }
  footer {
    margin: 50px 0 0 0;
  }
}

@media screen and (max-height: 700px) {
  .hero .container {
    margin: 90px 0 0 0;
  }
  footer {
    margin: 30px 0 0 0;
  }
}
