.hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(360deg, #22f9b8 0%, #505050 100%);
  padding: 200px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hero h1 {
  color: #fff;
  font-size: 80px;
  margin: 0 0 30px 0;
}

.hero h1 span {
  font-size: 80px;
  color: #22f9b8;
}

.hero h2 {
  text-transform: uppercase;
  font-size: 50px;
  color: #87d2bc;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero h2 .stack-badge {
  background-color: rgba(56, 121, 125, 0.7);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 0 22px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h2 .stack-badge img {
  height: 48px;
  width: 48px;
  border: none;
}

.hero button.jumper {
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 200px;
}
