:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

::selection {
  color: #fff;
  background: #87d2bc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: #2c8067;
  position: absolute;
  bottom: 100px;
}
