:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

::selection {
  color: #fff;
  background: #87d2bc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #22f9b8;
}
