nav {
  height: 80px;
  width: 100%;
  background-color: #505050;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 50px;
}

nav .links,
.languages {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav .links {
  margin: 0 20px 0 0;
}

nav .languages .item {
  height: 30px;
  width: 30px;
  margin: 0 3px;
  cursor: pointer;
}

nav .languages .item img {
  height: 100%;
  width: 100%;
  border: none;
}

nav .links .item {
  padding: 8px 15px;
  margin: 0 5px;
  color: #fff;
  background-color: transparent;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
}

nav .links .item.active {
  background-color: rgba(108, 212, 131, 0.19);
  color: #22f9b8;
}

nav .links .item:hover {
  background-color: rgba(108, 212, 131, 0.19);
}

nav .links .item a:link,
nav .links .item a:visited,
nav .links .item a:active {
  color: #fff;
}

nav .links .item a:hover {
  color: #22f9b8;
}
