nav {
  height: 80px;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 50px;
}

nav .links,
.languages {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}

nav .links {
  margin: 0 20px 0 0;
}

nav .languages .item {
  height: 30px;
  width: 30px;
  margin: 0 3px;
  cursor: pointer;
}

nav .languages .item img {
  height: 100%;
  width: 100%;
  border: none;
}

nav .links .item {
  padding: 8px 20px;
  margin: 0 5px;
  color: #3d3d3d;
  background-color: transparent;
  border-radius: 50px;
  text-transform: uppercase;
  transition: ease-in 0.2s;
}

nav .links .item.active {
  background-color: #7d7d7d30;
  color: #3d3d3d;
}

nav .links .item:hover {
  background-color: #49494930;
}

nav .links .item a:link,
nav .links .item a:visited,
nav .links .item a:active {
  color: #fff;
}

nav .links .item a:hover {
  color: #000;
}

@media screen and (max-width: 550px) {
  nav {
    justify-content: center;
  }
}
